
$bg-darkgrey: lightgrey;
//$mobile-widths-only: #{"(max-width: 767px)"};
//$tablet-widths: #{"(min-width: 768px)"};
//$desktop-widths: #{"(min-width: 1150px)"};

$mobile-widths-only: 659px;
$tablet-widths: 660px;
$desktop-widths: 960px;



$font-family: 'Open Sans', "Arial", sans-serif;
$font-family-bold: 'Open Sans Bold', "Arial", sans-serif;



$link-color: #ffffff;

$color-main: #0275d8;