.btn {
  display: block;
  text-align: center;
  cursor: pointer;
  font-family: $font-family-bold;
  color: $link-color;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid $link-color;
  padding: 17px 0;
  border-radius: 50px;

  &--download {
    margin-top: 20px;
    margin-bottom: 30px;
    //width: 280px;
    }
 }

@media (min-width: $tablet-widths) {
  .btn--download {
    width: 300px;
  }
}