.effect {
  display: none;
}

.effect__inner {
  @include container();
}

@media (min-width: $tablet-widths) {
  .effect {
    display: block;
    margin-top: 45px;
    margin-bottom: 95px;
  }

  .effect__inner {
    display: flex;
  }

  .effect__inner img {
    padding-left: 20px;
    margin-right: 70px;
    width: 238px;
    height: 276px;
  }

  .effect__timer {
    position: relative;
  }

  .effect__round {
    position: absolute;
    top: 53px;
    left: 40px;
    width: 170px;
    height: 170px;
    border: 16px solid #d22856;
    border-radius: 100%;
    color: $red-danger;
  }

  .effect__time {
    top: 83px;
    left: 85px;
    position: absolute;
    font-size: 96px;
    font-family: $font-family-bold;
    color: $red-danger;
  }

  .effect__item {
    width: 320px;
  }

  .effect__title {
    padding-top: 10px;
    font-family:  $font-family-bold;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  .effect__text {
    display: block;
    margin-top: -15px;
    font-family:  $font-family;
    font-size: 14px;
    line-height: 24px;
    color: $promo-heading-color;
  }

  .effect__link {
    font-family:  $font-family;
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
  }
}

@media (min-width: $desktop-widths) {
  .effect {
    width: 1200px;
    margin: 0 auto;
    margin-top: 0;
    outline: 2px dashed red;
    padding-bottom: 95px;
  }

  .effect__inner img {
    transform: scale(1.25);
  }

  .effect__title br {
    display: none;
  }
  .effect__timer {
    margin-left: 20px;
    margin-top: 85px;
  }

  .effect__round {
    width: 190px;
    height: 190px;
    left: 30px;
  }

  .effect__time {
    top: 75px;
    left: 70px;
    font-size: 120px;
  }

  .effect__item {
    margin-left: 45px;
    margin-top: 100px;
  }

  .effect__title {
    padding-top: 20px;
  }

  .effect__text {
    width: 570px;
    padding-top: 10px;
    font-size: 18px;
    line-height: 30px;
    color: $promo-heading-color;
  }

  .effect__link {
    display: block;
    padding-top: 15px;
    font-size: 18px;
  }
}