.features {
  //margin-top: 105px;
  margin-top: 25px;
  margin-bottom: 60px;
}

.features__inner {
  @include  container();
  outline: 2px dashed blue;
  padding-top: 65px;
  max-height: 740px;
}

.features__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item {
  outline: 2px dashed greenyellow;
  margin-bottom: 30px;
}

.features__name {
  text-align: center;
  font-family: $font-family-bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.features__name br {
  display: none;
}

.features__text {
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  color: $promo-heading-color;
}

.features__img {
  background-image: url("/img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 5px;
  width: 320px;
  height: 280px;
  //display: block;
  //margin-top: 55px;
  //margin: 0 auto;
  }


@media (min-width: $tablet-widths) {
  .features {
    margin-top: 95px;
    margin-bottom: 0;
  }

  .features__inner {
    padding-top: 0;
    display: flex;
    flex-direction: row;
  }

  .features__img {
    order: 1;
    background-image: url("/img/iphone-screen-3-tablet@1x.png");
    background-position: 18px 3px;
    height: auto;
  }

  .features__list {
    order: 2;
    margin-top: 60px;
    width: 320px;
  }

  .features__name {
    text-align: left;
  }

  .features__text {
    text-align: left;
  }
}

@media (min-width: $desktop-widths) {
  .features__inner {
    display: block;
  }

  .features__img {
    display: none;
  }

  .features__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .features__item  {
    padding-top: 355px;
    flex-basis: 33.3%;

    &--feeling-up {
      background-image: url("/img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center 10px;
    }

    &--world-arr {
      background-image: url("/img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center 10px;
    }

    &--friend {
      background-image: url("/img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center 10px;
    }
  }

  .features__name {
    text-align: center;
    font-size: 30px;
    color: #000000;
  }

  .features__name br {
    display: block;
  }

  .features__text {
    padding-top: 5px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: $promo-heading-color;
  }

}