.field-actions {

  &--form {
    margin-top: 55px;
  }

  &--photo {
    //margin-top: 38px;
    margin-bottom: 10px;
  }

  &--photo:first-child {
    margin-top: 58px;
  }
}

@media (min-width: $tablet-widths) {
  .field-actions {
    &--form {
      order: 7;
    }

    &--photo {
      margin-left: -25px;
      //margin-top: 75px;
      margin-bottom: 25px;
    }
    outline: 2px dashed cadetblue;

    }
}


@media (min-width: $desktop-widths) {
  .field-actions {

    &--form {
      margin-top: 65px;
      margin-bottom: -85px;
    }

    &--photo {
      margin-left: 0;
    }

    &--photo:first-child {
      margin-top: 0;
    }
  }
}