.field-checkbox {

}

.field-checkbox__input-wrap {
  outline: 2px dashed orange;
  padding-bottom: 5px;
}

.field-checkbox__name {
  display: block;
  position: relative;
  font-family: $font-family;
  font-size: 18px;
  line-height: 30px;
  color: $promo-heading-color;
  padding-left: 90px;
  margin-bottom: 50px;


  &--title {
    margin-bottom: 45px;
    padding-top: 35px;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    color: $red-danger;
  }
}

.field-checkbox__input {
  position: absolute;
  display: block;
  opacity: 0;

  & + .field-checkbox__name-text:before {
    width: 38px;
    height: 38px;
    position: absolute;
    top: -4px;
    left: 20px;
    content: "";
    background-size: 38px 38px;
    background-repeat: no-repeat;
    background-color: $link-color;
    border: 2px solid $gray-lighter;
    //background-image: data-uri('image/svg+xml;charset=UTF-8', './img/checkbox.svg');
  }

  &:checked + .field-checkbox__name-text:before {
    background-image: url("/img/icon-yes.svg");
    background-repeat: no-repeat;
    background-size: contain;
    fill: $red-danger;
    //background-image: data-uri('image/svg+xml;charset=UTF-8', './img/checkbox--checked.svg');
  }

  &:focus + .field-checkbox__name-text:before {
    @include focus();
  }
}

@media (min-width: $tablet-widths) {
  .field-checkbox {

    &--custom {
      order: 4;
      width: 620px;
      min-height: 550px;
      margin: 0 auto;
      border: 2px solid $gray-light;
      margin-top: 60px;
    }
  }

  .field-checkbox__name {
    padding-left: 120px;

    &--title {
      width: 375px;
      margin: 0 auto;
      margin-top: -10px;
      margin-bottom: 50px;
      padding: 0 30px;
      background-color: $link-color;
    }

    &--title br {
      display: none;
    }
  }

  .field-checkbox__input {
    & + .field-checkbox__name-text:before {
      left: 56px;
    }
  }

  .field-checkbox__input-wrap {
    padding: 0;
    outline: none;
  }
}

@media (min-width: $desktop-widths) {
  .field-checkbox {

    &--custom {
      margin-top: 65px;
      width: 940px;
      min-height: 230px;
    }
  }

  .field-checkbox__input-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .field-checkbox__name:nth-child(1) {
    order: 1;
  }

  .field-checkbox__name:nth-child(2) {
    order: 4;
  }

  .field-checkbox__name:nth-child(3) {
    order: 2;
  }

  .field-checkbox__name:nth-child(4) {
    order: 5;
    padding-left: 155px;
  }

  .field-checkbox__name:nth-child(5) {
    order: 3;
  }

  .field-checkbox__name:nth-child(6) {
    order: 5;
  }

  .field-checkbox__name:nth-child(4) span::before {
    left: 96px;
  }
}