.field-text {
  display: block;
  margin-bottom: 16px;
}

.field-text__input {
  box-sizing: border-box;
  padding-left: 20px;
  width: 280px;
  height: 60px;
  margin: 0 20px;
  line-height: 30px;
  margin-bottom: 5px;
  font-family: $font-family;
  font-size: 18px;
  color: $promo-heading-color;
  border: 2px solid $gray-lighter;
  background-color: transparent; //временно

  //border-radius: @border-radius;

  &:focus {
    @include  focus();
  }

  &::placeholder {
    font-family: $font-family;
    color: $promo-heading-color;
    font-size: 18px;
    line-height: 30;
    //padding-left: 23px;
    opacity: 1;
  }
}

.field-text__help-text {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  font-family: $font-family;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: $promo-heading-color;
  text-transform: uppercase;
}

@media (min-width: $tablet-widths) {
  .field-text {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    &--form {
      order: 8;
    }
   }

  .field-text__input {
    width: 100%;
  }
}