.intro {
  //background-image: url("/img/bg-back-mobile@1x.jpg");

  &--photo {
    min-height: 170px;
  }
}

.intro__inner {
  @include container();
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  & img {
    margin-top: 105px;
  }
}

.intro__title {
  font-size: 0;

  &--photo {
    padding: 0 54px;
    text-align: center;
    font-family: $font-family-light;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    color: $link-color;
  }
}

@media (min-width: $tablet-widths) {
  .intro {
    &--photo {
      min-height: 229px;
      margin-bottom: 185px;
    }
  }

  .intro__inner {
    display: flex;
    flex-direction: row;

    & img {
      order:2;
    }
  }

  .intro__title {
    order: 1;
    //min-height: 147px;
    outline: 2px dashed deeppink;
    margin-top: 80px;
    margin-left: 75px;
    margin-right: 70px;
    text-align: center;
    font-size: 40px;
    font-family: $font-family-light;
    font-weight: normal;
    color: $link-color;

    &--photo {
      margin-top: 60px;
      font-size: 50px;
      line-height: 60px;
    }
  }
}

@media (min-width: $desktop-widths) {
  .intro__inner {
    //padding: 0;
  }

  .intro__title {
    margin: 0;
    margin-top: 100px;
    margin-left: 40px;
    font-size: 50px;
    margin-right: 250px;
  }
}