.location {
  padding-top: 20px;
}

.location__inner {
  @include container();
}

.location__title {
  text-align: center;
  font-family: $font-family-light;
  font-size: 24px;
  font-weight: normal;
  color: $promo-heading-color;
}

.location__item {
  text-align: center;
}

.location__item-name {
  font-family: $font-family-bold;
  font-size: 18px;
  color: #283645;
}

.location__item-link {
  font-family: $font-family-light;
  font-size: 24px;
  text-decoration: none;
  color: $red-danger;
}

.location__map {
  @include container();
  position: relative;
  width: 320px;
  height: 200px;
  overflow: hidden;
  //outline: 2px dashed;
  display: block;
}

.location__marker {
  left: 140px;
  top: 70px;
  position: absolute;
  background-image: url("/img/icon-map-marker.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}

.location__map picture {
  display: block;
  margin-top: -150px;
}


@media (min-width: $tablet-widths) {
  .location {
    margin-top: -5px;
    margin-bottom: 90px;
  }

  .location__title {
    //margin-bottom: 0;
    letter-spacing: 0.1px;
    font-size: 40px;
    line-height: 50px;
  }

  .location__list {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .location__item {
    flex-basis: 300px;
  }

  .location__item:nth-child(3) {
    margin: auto;
  }

  .location__item:nth-child(-n+2) {
    margin-left: 20px;
  }

  .location__map {
    margin-top: 30px;
    min-height: 375px;
    width: 660px;
  }

  .location__marker {
    left: 310px;
    top: 175px;
  }

  .location__map picture {
    margin-top: -330px;
  }
}

@media (min-width: $desktop-widths) {
  .location {
    padding: 0;
    margin: 0;
    margin-bottom: 130px;
  }

  .location__inner {
    //justify-content: space-between;
  }

  .location__title {
    text-align: center;
    padding-top: 27px;
    font-size: 50px;
    line-height: 58px;
  }

  .location__list {
    margin-top: 0;
  }

  .location__item {
    flex-basis: 30%;
  }

  .location__item:nth-child(2) {
    order: 2;
  }

  .location__map {
    //margin-top: 45px;
    width: 1200px;
    min-height: 502px;
  }

  .location__marker {
    left: 580px;
    top: 165px;
  }

  .location__map picture {
    margin-top: -380px;
  }
}
