.logo {
  padding-top: 20px;
  padding-left: 20px;

  &--footer {
    width: 156px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}


@media (min-width: $tablet-widths) {
  .logo {
    padding-top: 45px;
    padding-left: 90px;


  &--footer {
    padding: 0;
    margin: 0;
    margin-left: 18px;
  }

  }
}