.modal {
  &--invisible {
    display: none;
  }

  &--ok {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 150;
    overflow: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
  }

  &--failure  {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 150;
    overflow: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
  }
}

.modal__content {
  border-radius: 5px;
  background-color: $link-color;
  @include container();
  width: 320px;
  min-height: 320px;
  //outline: 2px dashed blue!important;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);

  &--ok {
    position: fixed;
    left: 0;
    right: 0;
    top: 300px;
  }

  &--failure {
    position: fixed;
    left: 0;
    right: 0;
    top: 300px;
  }

}

.modal__name {
  padding-top: 35px;
  text-align: center;
  font-family: $font-family-bold;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
}

.modal__text {
  margin-bottom: 40px;
  padding-top: 10px;
  text-align: center;
  font-family: $font-family;
  font-size: 14px;
  line-height: 24px;
  color: $promo-heading-color;
  font-weight: normal;
}

@media (min-width: $tablet-widths) {
  .modal__content {
    width: 463px;
  }

  .modal__text {
    padding-left: 84px;
    padding-right: 84px;
  }
}

@media (min-width: $desktop-widths) {
  .modal__content {
    width: 785px;

    &--ok {
      width: 463px;
    }
  }
}