.page-footer {
  &--none{
    display: none;
  }

}

.page-footer__social {
  width: 190px;
  margin: 0 auto;
  display: flex;
  //justify-content: space-around;
 }

.page-footer__copyright {
  position: relative;
  margin-left: 95px;
  margin-top: 40px;
  font-family: $font-family;
  font-size: 14px;
  line-height: 18px;
  color: $promo-heading-color;
  font-weight: normal;
}


.page-footer__copyright svg {
  position: absolute;
  top: -30px;
  left: 50px;
  transform: scale(0.7);
  fill: $red-danger;
}

//.page-footer__copyright-image {
//  position: absolute;
//  top: -30px;
//  left: 50px;
//  transform: scale(0.7);
//  fill: $red-danger;
//}

.page-footer__inner {
  @include  container();

}

@media (min-width: $tablet-widths) {
  .page-footer {
    margin-top: 35px;

    &--form {
      margin-top: -50px;
    }

    &--show {
      display: block;
    }
  }

  .page-footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .page-footer__copyright {
    margin-left: 0;
    flex-basis: 150px;
  }


  .page-footer__social {
    //min-width: 200px;
    //display: inline-flex;
    outline: 1px dotted red;
  }

  .page-footer__copyright {
    margin-top: 15px;
    font-size: 18px;
  }

}

@media (min-width: $desktop-widths) {
  .page-footer {
    margin-top: 60px;

    &--form {
      margin-top: -65px;
    }
  }

  .page-footer__copyright {
    flex-basis: 165px;
  }

  .page-footer__copyright svg {
    left: 75px;
  }
}