.page-header {
  min-height: 67px;

}

.page-header__inner {
  @include container();
  min-height: 67px;
   outline: 2px dashed indianred;
  background-color: $promo-heading-color;
  //padding-bottom: 5px;
}

@media (min-width: $tablet-widths) {
  .page-header {
   }

  .page-header__inner {
  }
}


@media (min-width: $desktop-widths) {
  .page-header {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 99px;
    background-color: #000;
    //opacity: 0.3;
    
  }

  .page-header__inner {
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }
}