.pagination {
  @include  container();
  margin: 0 auto;
}

.pagination__item {
  position: relative;
  vertical-align: top;
  display: inline-block;
  margin-right: 18px;
  outline: 1px dotted red;
  width: 5px;
  height: 5px;

  &:nth-child(3) {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: #bec2c7;
  }

  &‐‐active {
    position: relative;
  }
  &‐‐active::before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    border: 3px solid $promo-heading-color;
    background-color: $link-color;
   }

 }

.pagination__inner {
  margin: 0 auto;
  width: 75px;
  //padding: 0 125px;
  outline: 2px dashed darkblue;

}

@media (min-width: $tablet-widths) {
  .pagination {
    &--tablet {
      display: none;
    }
  }
}

@media (min-width: $desktop-widths) {
  .pagination {
    &--desktop {
      display: none;
    }
  }
}

