.promo-heading__inner {
  @include container();
}

.promo-heading__text {
  //outline: 1px dotted olive;
  padding-top: 20px;
  text-align: center;
  font-family: $font-family-light;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  color: $promo-heading-color;

  &--photo {
    text-align: center;
    padding: 0 20px;
    font-family: $font-family;
    font-size: 14px;
    line-height: 30px;
    color: $promo-heading-color;
  }

  &--form {
    margin-bottom: 50px;
    text-align: center;
    padding: 0 20px;
    font-family: $font-family;
    font-size: 14px;
    line-height: 30px;
    color: $promo-heading-color;
  }

  &--form span {
    display: none;
  }

  &--upload {
    font-size: 14px;
    font-weight: normal;
    padding-top: -10px;
  }
}

@media (min-width: $tablet-widths) {
  .promo-heading {
    &--photo {
      display: block;
       margin-top: 80px;
    }

    &--form {
      margin-top: 77px;
      margin-bottom: 110px;
    }

    &--form span {
      display: block;
    }
  }

  .promo-heading__text {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: -40px;
    min-width: 620px;
    font-size: 40px;
    line-height: 40px;

    &--photo {
      outline: 1px dotted orange;
      margin-top: 40px;
      font-family: $font-family;
      font-size: 18px;
      line-height: 30px;
      color: $promo-heading-color;
    }

    &--form {
      //outline: 1px dotted orange;
      margin: 0;
      font-family: $font-family;
      font-size: 18px;
      line-height: 30px;
      color: $promo-heading-color;
    }
  }
}


@media (min-width: $desktop-widths) {
  .promo-heading {
    &--photo {
     margin-top: -40px;
    }

    &--main {
      margin-top: 210px;
    }

    &--form {
      //margin-top: 45px;
      margin-top: 120px;
      margin-bottom: 80px;
    }
  }

  .promo-heading__text {
    margin-top: 65px;
    font-size: 50px;
    line-height: 55px;

    &--photo {
      width: 580px;
      font-family: $font-family;
      font-size: 18px;
      line-height: 30px;
      color: $promo-heading-color;
    }

    &--form {
      width: 780px;
      margin: 0 auto;
      font-family: $font-family;
      font-size: 18px;
      line-height: 30px;
      color: $promo-heading-color;
    }
  }

  .promo-heading__text:last-child {
    display: block;
    margin-top: 20px;
  }
}