.rates {
  @include container();
  max-height: 469px;
  margin-top: 30px;
}

.rates__inner {
  //padding: 90px 20px 100px;
  outline: 2px dashed green;
  padding-top: 60px;
  padding-bottom: 45px;
}

.rates__table {
  min-height: 281px;
  border-collapse: collapse;
  //border: 2px solid $gray-lighter;
  margin: 30px 0;
  padding-top: 120px;
  }

.rates__row {
  border-bottom:  1px solid $gray-lighter;
  min-height: 60px;
}

.rates__row td, th {
  width: 155px;
  border: 2px solid $gray-lighter;
}

.rates__row td {
  height: 46px;
}

.rates__header {
  border: 0 1px solid $gray-lighter ;
  //width: 280px;
  height: 40px;
  padding-top: 15px;
  margin: 0 auto;
  color: $link-color;
  background-color: $promo-heading-color;
  font-family: $font-family-bold;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}


.rates__header span {
  font-family: $font-family-light;
  font-size: 24px;
}

.rates__text {
  position: relative;
  padding: 0;
  padding-left: 20px;
  font-family: $font-family;
  font-size: 14px;
  text-transform: uppercase;
  color: #283645;

}

.rates__text--ok::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 60px;
  width: 33px;
  height: 24px;
  background: url("/img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: cover ;
}

.rates__text--no::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 60px;
  width: 29px;
  height: 29px;
  background: url("/img/icon-no.svg");
  background-repeat: no-repeat;
  background-size: cover ;
}

@media (max-width: $mobile-widths-only-table) {
  .rates__row {
    width: 280px;
    height: 60px;
  }
  .rates__header {
    //padding-top: 35px;
  }
  .rates__row td:nth-child(4) {
    display: none;
  }

  .rates__row td:nth-child(2) {
    display: none;
  }

  .rates__row th:nth-child(4) {
    display: none;
  }
  .rates__row th:nth-child(2) {
    display: none;
  }

  .rates__row th:nth-child(1) {
    display: none;
  }

  .rates__row th:nth-child(3) {
    display: block;
    width: 315px;
    height: 100px;
    background-color: $promo-heading-color;
  }

  .rates__row td:nth-child(3) {
    padding: 0;
  }

  .rates__text--ok::before {
    top: 15px;
    left: -70px;
  }

  .rates__text--no::before {
    top: 15px;
    left: -70px;
  }

}

@media (min-width: $tablet-widths) {

  .rates__table {
    padding: 0 20px;
    margin: -15px;
    min-height:  218px;
  }
}

@media (min-width: $desktop-widths) {
  .rates__table {
    min-height: 279px;
  }

  .rates__inner {
    padding-top: 145px;
    padding-bottom: 110px;
  }
}