.reviews {
  margin-top: -15px;
  //margin-bottom: 110px;
}

.reviews__inner {
  @include container();
}

.reviews__list {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  list-style: none;
}

.reviews__before, .reviews__next {
  display: none;
}

.reviews__item {
  outline: 2px dashed crimson;
}

.reviews__item:nth-child(n+2) {
  display: none;
}

.reviews__auhor‐name {
  text-align: center;
  font-family: $font-family-bold;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: #000000;
}

.reviews__auhor‐about {
  display: none;
}

.reviews__text {
  width: 280px;
  //display: block;
  margin: 0 auto;
  text-align: center;
  font-family: $font-family;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: $promo-heading-color;
}

@media (min-width: $tablet-widths) {
  .reviews {
    margin-top: 0;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    width: auto;
    order: 1;
    font-size: 18px;
    color: $promo-heading-color;
    margin-bottom: 0;
  }

  .reviews__text br {
    display: none;
  }

  .reviews__auhor‐name {
    order: 2;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 20px;
  }

  .reviews__auhor‐about {
    order: 3;
    margin-top: 0;
    //margin-bottom: 40px;
    font-family: $font-family;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: $promo-heading-color;
  }
}

@media (min-width: $desktop-widths) {
  .reviews {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .reviews__inner {
    position: relative;

    &::after {
      top: 55px;
      left: 445px;
      position: absolute;
      content: "";
      background-image: url("/img/icon-quotes.svg");
      background-repeat: no-repeat;
      width: 76px;
      height: 79px;
    }
  }

  .reviews__before, .reviews__next {
    display: block;
    position: absolute;
    font-size: 0;
    border: none;
  }

  .reviews__before {
    top: 195px;
    left: 10px;
    background-image: url("/img/icon-review-arrow-left.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 22px;
    height: 42px;
  }

  .reviews__next {
    top: 195px;
    left: 927px;
    background-image: url("/img/icon-review-arrow-right.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    width: 22px;
    height: 42px;
  }

  .reviews__item {
    padding:0 70px;
    padding-top: 165px;
  }

  .reviews__text {
    text-align: center;
  }

  .reviews__auhor‐name {
    margin-top: 35px;
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__auhor‐about {
    font-size: 18px;
    line-height: 30px;
  }
}

