.social-link {
  display: flex;
  flex-direction: row;
  //display: inline-block;
  //vertical-align: top;
  position: relative;
  outline: 1px dotted blue;
  width: 52px;
  height: 52px;
  font-size: 0;

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid $gray-lighter;
  }

  &:hover::before {
    border: 2px solid $promo-heading-color;
    transition: 0.4s;
  }
  
  &--twitter {

    //position: absolute;
    //background-position: center;
    //background-image: url("/img/icon-twitter.svg");
    //background-repeat: no-repeat;
  }
  
  &--facebook {
    //background-position: center;
    //background-image: url("/img/icon-facebook.svg");
    //background-repeat: no-repeat;
  }

  &--youtube {
    //background-position: center;
    //background-image: url("/img/icon-youtube.svg");
    //background-repeat: no-repeat;
  }
}

.social-link:nth-child(-n+2) {
  //margin-right: 5px;
}

.social-link__img {
  position: absolute;
  content: "";
  fill: $red-danger;

  &--twitter {
    left: 16px;
    top: 16px;
  }

  &--facebook {
    left: 18px;
    top: 14px;
  }

  &--youtube {
    left: 16px;
    top: 16px;
  }
}