.upload {
  margin-top: 65px;
  margin-bottom: 55px;
}

.upload__inner {
  @include container();
}

.upload__preview {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  width: 280px;
}

@media (min-width: $tablet-widths) {
  .upload {
    margin-top: 65px;
    margin-bottom: 90px;
  }

  .upload__content {
    width: 300px;
  }

  .upload__inner {
    display: flex;
    flex-direction: row;
  }

  .upload__preview {
    outline: 2px dashed greenyellow;
    margin-top: 75px;
    width: 300px;
    margin-left: 20px;
  }

  .upload__filters {
    width: 200px;
    margin-left: 60px;
    margin-top: 30px;
  }
}