.upload {
  margin-top: 65px;
  margin-bottom: 55px;
}

.upload__inner {
  @include container();
}

.upload__preview {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  width: 280px;
}

@media (min-width: $tablet-widths) {
  .upload {
    margin-top: 85px;
    margin-bottom: 40px;
  }

  .upload__content {
    width: 300px;
  }

  .upload__inner {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
  }

  .upload__preview {
    //outline: 2px dashed greenyellow;
    margin-top: 55px;
    width: 300px;
    margin-left: 20px;
  }

  .upload__filters {
    width: 200px;
    margin-left: 60px;
    margin-top: 30px;
  }
}

@media (min-width: $desktop-widths) {
  .upload {
    margin-top: 80px;
    margin-bottom: 100px;
  }

  .upload__inner {
    width: 940px;
    padding-bottom: 33px;
  }

  .upload__preview {
    margin-top: 35px;
    margin-left: 80px;
  }

  .upload__content {
    width: 410px;
  }

  .upload__btn {
    margin-left: -60px;
    display: flex;
    width: 410px;
    flex-direction: row;
    justify-content: space-between;

  }
}
